.audio-controls {
    text-align: left;
    width: 60%;
}
.audio-text {
    text-align: left;
    width: 40%;
    font-size: 14px;
    line-height: 20px;
}

.audio-text-icons {
    text-align: left;
    width: 95%;
    font-size: 14px;
    line-height: 20px;
}

.audio-add {
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  /*  margin-top: 5px;*/
}