<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title th:text="#{page_label_download_archive} + ' - ' + #{application_name}"></title>
  <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main" sec:authorize="isAuthenticated()">
  <div class="wrapper">
    <div class="left-col">
      <div class="frame-title-create-form">
        <p class="logo-title-text-create-form" th:text="#{text_archive_is_generate}"></p>
      </div>
      <div class="frame-content-create-form">
        <div class="form-create">
          <p th:if="${isAvailableArchive == true}" class="main-text">
            <a th:href="@{'/resources/users_archive/users/' + ${user} + '.zip'}" th:text="#{text_download_archive_link}"></a>
          </p>
          <p th:if="${isAvailableArchive == false}" class="main-text">
            <span th:text="#{text_download_archive_is_generate}"></span>
            <a th:href="@{/profile_archive}" th:text="#{text_download_archive_is_generate_my_archive}"></a>
          </p>
          <p class="back-link-text">
            <a th:href="@{/}" th:text="#{text_back_to_main_page}"></a>
          </p>
        </div>
      </div>

      <!-- Footer -->
      <footer th:insert="fragments.html :: footer"></footer>
    </div>

    <!-- Right Column -->
    <div th:insert="fragments.html :: right-column"></div>
  </div>
</section>

</body>
</html>