<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title th:text="#{page_label_wishlist_done} + ' - ' + #{application_name}"></title>
  <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main" sec:authorize="isAuthenticated()">
  <div class="wrapper">
    <div class="left-col">

      <!-- Wishlist -->
          <div class="frame-title-create-form">
            <p class="logo-title-text-create-form" th:text="#{page_label_wishlist_done}"></p>
          </div>

      <div class="post">
        <div class="post-content">
          <div class="view-source comments-view">
            <div th:if="${!wishlistIsdone.isEmpty()}" th:each="wishlistAll_view: ${wishlistIsdone}" th:id="'wishlist-' + ${wishlistAll_view.wishlistId}" th:name="'wishlist-' + ${wishlistAll_view.wishlistId}">
              <div class="media-body">
                <div class="info-comments">
                  <table class="dialogs-table">
                    <tr>
                      <td class="td-wishlist-photo">
                        <img class="wishlist-photo" th:src="@{'/resources/img/users/' + ${user} + '/wishlist/' + ${wishlistAll_view.photo}}">
                        <div th:if="${wishlistAll_view.secret == true}">
                          <img class="img-icon" th:src="@{'/resources/img/icons/private.png'}" />
                          <span class="wishlist-text" th:text="#{text_wishlist_private}"></span>
                        </div>
                        <div th:if="${wishlistAll_view.secret == false}">
                          <img class="img-icon"  th:src="@{'/resources/img/icons/public.png'}" />
                          <span class="wishlist-text" th:text="#{text_wishlist_public}"></span>
                        </div>
                        <div>
                          <img class="img-icon" th:src="@{'/resources/img/icons/delete.png'}" />
                          <a class="wishlist-add"  th:onclick="'deleteWish(\'' + ${wishlistAll_view.wishlistId} + '\');'"><span th:text="#{text_delete}"></span></a>
                        </div>
                      </td>
                      <td class="td-wishlist-text">
                        <p class="wishlist-text-logo" th:text="${wishlistAll_view.nameWish}"></p>
                        <p class="wishlist-text" th:text="#{text_wishlist_description} + ' ' + ${wishlistAll_view.description}"></p>
                        <p class="wishlist-text" th:text="#{text_wishlist_price} + ' ' + ${wishlistAll_view.price} + ' ' + #{text_wishlist_rub}"></p>
                        <span class="wishlist-text" th:text="#{text_wishlist_link} + ' '"></span><a class="wishlist-text" th:href="${wishlistAll_view.link}" th:text="${wishlistAll_view.link}"></a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div th:if="${wishlistIsdone.isEmpty()}">
              <div class="media-body">
                <div class="view-source comments-view">
                  <br><br><br>
                  <h1 class="h3 mb-3 font-weight-normal text-center"
                      th:text="#{text_no_wishlist_done}"></h1>
                  <br><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer th:insert="fragments.html :: footer"></footer>
    </div>

    <!-- Right Column -->
    <div th:insert="fragments.html :: right-column"></div>
  </div>
</section>

</body>
</html>