<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title th:text="#{page_label_deleting_a_profile} + ' - ' + #{application_name}"></title>
    <th:block th:include="fragments.html :: header"/>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main" sec:authorize="isAuthenticated()">
    <div class="wrapper">
        <div class="left-col">
            <div class="frame-title-create-form">
                <p class="logo-title-text-create-form" th:text="#{page_label_deleting_a_profile}"></p>
            </div>
            <div class="frame-content-create-form">
                <div class="form-create">
                    <p class="main-text" th:text="#{text_cancel}"></p>
                    <form method="POST" th:action="*{username}" th:object="${userinfo}">
                        <button type="submit" class="btn-delete" th:text="#{button_delete_profile_confirm}"></button>
                        <a th:href="@{/profile_edit/{user}(user = ${user})}" class="btn-create" th:text="#{button_cancel}"></a>
                    </form>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>
        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>
    </div>
</section>

</body>
</html>